filebeat.inputs:
  - type: container
    enabled: true
    paths:
      - /var/lib/docker/containers/*/*.log

processors:
  - add_docker_metadata: ~

output.elasticsearch:
  hosts: [ http://elasticsearch:9200 ]

setup.kibana:
  host: "kibana:5601"

logging.to_files: false
logging.level: info